[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/ppejovic/prezto.git
[submodule ".zprezto-contrib/az"]
	path = .zprezto-contrib/az
	url = https://github.com/ppejovic/azure-devops-prezto.git
[submodule ".zprezto-contrib/tf"]
	path = .zprezto-contrib/tf
	url = https://github.com/prezto-contributions/prezto-terraform.git
[submodule ".zprezto-contrib/git-extras"]
	path = .zprezto-contrib/git-extras
	url = https://github.com/ppejovic/git-extras-prezto.git
