[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/ppejovic/prezto.git
[submodule ".zprezto-contrib/az"]
	path = .zprezto-contrib/az
	url = https://github.com/ppejovic/azure-devops-prezto.git
