zmodule environment
zmodule input
zmodule utility
zmodule git
zmodule joke/zim-kubectl --tag v1.2.1
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
